* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
}
.container {
  max-width: 1000px;
  background-color: #e4f9f5;
  margin: 0 auto;
  padding: 20px;
}
header {
}
.profile-image {
  max-width: 100px;
  background-color: #e4f9f5;
  border: 5px solid white;
  border-radius: 50%;
  float: left;
}
.hrader-info {
  float: left;
  padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: #11999e;
}
.hadder-contact{
    float: right;
    padding: 30px;
   
}
.hadder-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.hadder-contact a:hover{
    text-decoration: underline;
    color: tomato;


}
.div-clear{
    clear: both;
}
hr{
    border: 3px solid black;
    width: 100%;
    margin: 0 auto;
    border-bottom: none;
}